{% extends "theotherapp/base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <h1>Welcome to</h1>
  <img src="{% static 'theotherapp/img/logo.svg' %}" style="width:25%; padding: 16px;"/>
  <div style="background: #363d3cc7; width: 75%; padding: 36px; border-radius: 4px; display: flex;
        justify-content: space-evenly;">
    <a href="{% url 'theotherapp:browse' %}"><button class="panel" style="width: 120%; font-size: 24px; color: white;
    margin-top: 0px; text-shadow: 1px 2px 1px darkslategray;">
      Browse</button></a>
    <a href="{% url 'theotherapp:advanced_search' %}"><button class="panel" style="width: 120%; font-size: 24px; color: white;
    margin-top: 0px; text-shadow: 1px 2px 1px darkslategray;">
      Search</button></a>
    <a href="{% url 'theotherapp:upload' %}"><button class="panel" style="width: 120%; font-size: 24px; color: white;
    margin-top: 0px; text-shadow: 1px 2px 1px darkslategray;">
      Upload</button></a>
  </div>
</div>
{% endblock %}