{% extends "theotherapp/base.html" %}
{% block content %}
<div class="container">
  {% if form.non_field_errors %}
    <div>
      <strong>Error</strong>
      {% for error in form.non_field_errors %}
        <p>{{error}}</p>
      {% endfor %}    </div>
  {% endif %}
  <h2>Upload sample metadata and files</h2>
  <div class="panel">
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div style="display: flex; flex-direction: column;">
        {{ form }}
      </div>
      <div style="display: flex; justify-content: center;">
        <input class="submit-button" type="submit" name="upload_data">
      </div>
      </form>
  </div>
  <div class='panel'>
    To upload multiple samples please provide appropiate metadata table file and 
    taxonomic data file(s). Please consider the number and names of your columns and mind that 
    sample_id and patient_id columns are required.
    <form>
      <input type="submit" name="download_metadata_template" value="Download metadata file template">
    </form>
  </div>

</div>
{% endblock %}